@charset "utf-8";

/* PC */
/* default style *//* default style *//* default style *//* default style *//* default style */
/* default style *//* default style *//* default style *//* default style *//* default style */
a{
    text-decoration: none;
}

ul {
    list-style:none;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family:  'Hiragino Kaku Gothic Pro', 'Domine', sans-serif;
}

h1 ,h2 ,h3 ,h4 ,h5 ,h6 ,p{
    margin: 0;
    padding: 0;
}

p {
    line-height: 1.7rem;
}

label {
    color: #144766;
    font-weight: 600;
}

.mt50 {
    margin: 70px 0;
}

.en {
    font-family: 'Domine','Hiragino Kaku Gothic Pro', sans-serif;;
}

.container {
    max-width: 1280px;
    box-sizing: border-box;
    padding: 0;
    margin: 0 auto;
}

.max1080 {
    max-width: 880px;
}

.highlight-blue {
    color: #9FDAFF;
}

.wht {
    color: white;
}

.effect-fade-left {
    opacity: 0;
    transform: translateX(-100px);
    transition: all 800ms;
}

.effect-fade-left.effect-scroll {
    opacity: 1;
    transform: translateX(0);
}

.effect-fade {
    opacity: 0;
    transform: translate(0, 60px);
    transition: all 800ms;
    filter: alpha(opacity=0);
    -moz-opacity: 0;
    opacity: 0;
}

.effect-fade.effect-scroll {
    opacity: 1;
    transform: translate(0, 0);
    filter: alpha(opacity=100);
    -moz-opacity: 1;
    opacity: 1;
}

.effect-fade-in {
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.effect-fade-in.effect-scroll {
    opacity: 1;
}

/* Header *//* Header *//* Header *//* Header *//* Header *//* Header */
/* Header *//* Header *//* Header *//* Header *//* Header *//* Header */
header {
    width: 100%;
    height: 66px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    position: fixed;
    top: 0;
    z-index: 10;

}

.header__logo img{
    height: 48px;
    vertical-align: bottom;
}

.header__nav__menu{
    display: flex;
    gap: 30px;
    padding-left: 40px;
    font-weight: 600;
}

.header__nav__menu a {
    color: white; /* 初期の文字色を変更 */
    transition: 0.4s; /* グラデーションの遷移に時間を設ける */
}

.header__nav__menu a:hover {
    background-image: linear-gradient(90deg, 
    rgb(255, 255, 255),  /* 白色 */
    rgb(128, 0, 128),    /* 紫 */
    rgb(0, 0, 255),      /* 青 */
    rgb(0, 255, 255),    /* 水色 */
    rgb(135, 206, 235),  /* 空色 */
    rgb(229, 255, 0));   /* 鮮やかな色 (オレンジ) */
background-size: 200% auto; /* グラデーションが画面外まで広がるように設定 */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent; /* グラデーションが文字に適用されるように設定 */
    background-position: right center; /* グラデーションを初期位置に設定 */
    color: transparent; /* ホバー時のテキスト色を透明に設定 */
}

/* Hero */
.hero {
    color: white;
}

.hero__img {
    background-color: #000; /* ここを変更 - 背景色を適切な値に設定 */
    display: flex;
    background-image:url(/image/hero.png) ;
    background-size: cover;
    height: 100svh;
    align-items: center;
    vertical-align: bottom;
}

.hero__txtbox {
    display: grid;
        width: 100%;
        grid-template:
        "emp head pic"70px
        "emp txt pic"100px
        "emp txt2 txt2"100px
        / 2fr 1fr 180px;

} 

.emp {
    grid-area: emp;
}

.ttl {
    grid-area: head;
    font-size: 32px;
    padding-top: 30px;

}

.ttl__self-introduction {
    font-weight: 600;
    grid-area: txt;
    font-size: 42px;
    line-height: 3rem;
    padding-top: 30px;
}

.ttl__pic {
    grid-area: pic;
    height: 150px;
}

.ttl__self-introduction__txt {
    grid-area: txt2;
    padding-top: 30px;
    font-weight: 600;
}

/* About *//* About *//* About *//* About *//* About *//* About */
/* About *//* About *//* About *//* About *//* About *//* About */
.about {
    background-color: black;
    color: white;
}

.headline-box{
    display: flex;
    justify-content: center;
    align-items: center;
}

.headline-top {
    font-size: 42px;
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0 30px;
    z-index: 1;  /* テキストの下に線を表示 */

}

/* 擬似要素を使用して中央線を引く */
.headline-top::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    height: 10px;  /* 線の高さを調整 */
    background: #152B3A;  /* 線の色を指定 */
    z-index: -1;  /* テキストの下に線を表示 */
}

.about__txtbox {
    display: grid;
        width: 100%;
        grid-template:
        "sky item-list txt-list" 1fr
        / 5fr 1fr 2fr;
        gap: 40px;
} 

.about-content {
    grid-area: sky;
}

.about-content__txt-highlight-sky {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 40px;
    color: #76C5FF;
}

.about-list__item {
    grid-area: item-list;
    color: #144766;
    font-size: 20px;
    font-weight: 500;
    padding-bottom: 40px;
    padding-left: 40px;
}

.about-list__item__txt {
    grid-area: txt-list;
    padding-bottom: 40px;
    padding-top: 3px;
}

.about__img {
    display: flex;
    align-items: center; /* 縦方向の中央揃え */
    justify-content: center; /* 横方向の中央揃え */

}

.about__img img {
    padding: 100px 0;
    width: 100%;
    height: auto;
}

/* Works *//* Works *//* Works *//* Works *//* Works *//* Works */
/* Works *//* Works *//* Works *//* Works *//* Works *//* Works */

.works {
    padding-bottom: 100px;
}
.headline-top.p2::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    height: 10px;  /* 線の高さを調整 */
    background: #A3DCFF;  /* 線の色を指定 */
    z-index: -1;  /* テキストの下に線を表示 */
}

.works__txtbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px; /* グリッドの要素間のギャップを設定 */
}

.works__item__txt {
    font-weight: 600;
}

.works__txtbox a {
    text-decoration: none;
    color: inherit; /* リンクの色を親要素の色に合わせる */
}

.works__txtbox .item {
    transition: transform 0.3s; /* ホバー時のアニメーション効果を追加 */
}

.works__txtbox .item:hover {
    transform: scale(1.05); /* ホバー時に要素を拡大 */
}

.works__txtbox img {
    width: 100%; /* 画像を親要素の幅に合わせて伸縮させる */
}

.works__txtbox p {
    text-align: center; /* テキストを中央揃えにする */
}

/* Profile *//* Profile *//* Profile *//* Profile *//* Profile */
/* Profile *//* Profile *//* Profile *//* Profile *//* Profile */

.profile {
    padding-bottom: 100px;
    background-color: black;
}
.profile__txtbox {
    display: flex;
    align-items: center;
    gap:50px;
}

.profile__content,
.profile__img {
    width: 50%;
}

.profile__content__txt-name {
    font-size: 18px;
    font-weight: 600;
    letter-spacing: 0.7rem;
    padding-bottom: 15px;
}

.profile__content__txt {
    padding-bottom: 25px;
}

.profile__img img {
    width: 100%;
    height: auto;
}

/* Contact *//* Contact *//* Contact *//* Contact *//* Contact */
/* Contact *//* Contact *//* Contact *//* Contact *//* Contact */

.contact{
    padding-bottom: 20px;
}
.contact__form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.input-field {
    display: grid;
    grid-template-columns: 1fr 5fr 1fr;
    gap: 10px;
    align-items: center;
}

.contact__form input[type="text"],
.contact__form input[type="email"],
.contact__form input[type="tel"],
.contact__form textarea {
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #E7F6FF;
}

.contact__form textarea {
    resize: none;
    height: 120px;
}

.form-note {
    font-size: 14px;
    text-align: center;
}

.form-sub {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 0 15px;
    width: fit-content;  /* 追加: 子要素の幅に合わせる */
    margin: 0 auto;  /* 追加: 横方向中央揃え */
}

.form-submit {
    border-radius: 5px;
    color: #144766;
    text-decoration: none;
    cursor: pointer;
    font-size: 24px;
    font-weight: 600;
}

.form-sub::before {
    content: "";
    position: absolute;
    top: 60%;  /* 修正: 線をテキストの真ん中に持ってくる */
    left: 0;
    right: 0;
    height: 10px;  /* 修正: 線の高さを調整 */
    background: #62bcf4;  /* 線の色を指定 */
    z-index: -1;
}

.form-submit:hover {
    color: #2a3479;
}

.contact__btm-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px
}

.contact__btm-content {
    padding-top: 50px;
    padding-right: 7px;
}

.contact__btm-content-txt {
    font-weight: 500;
}

.contact__btm-content img {
    height: 48px;
    vertical-align: bottom;
}

.contact__btm-icn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap:20px;
    padding-top: 50px;
}


.contact__btm-icn img {
    height: 56px;
    vertical-align: bottom;

}

.arrow-up {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 30px 30px 0 0;
}

.fa-circle-arrow-up {
    font-size: 60px;
}

.go-top {
    transition: transform 0.3s ease;
}

.go-top:hover {
    transform: translateY(-10px);
}

/* Footer *//* Footer *//* Footer *//* Footer *//* Footer */
/* Footer *//* Footer *//* Footer *//* Footer *//* Footer */

footer {
    background: black;
    color: #fff;
    padding: 20px 0 5px 0;
}

.footer__nav {
    display: flex;
    padding-top: 10px;
}

.footer__nav__menu {
    display: flex;
    gap: 30px;
    list-style: none;
}

.footer__nav__menu li a {
    color: #fff;
    text-decoration: none;
}

.footer__nav__menu li a:hover {
    color: #62bcf4;
}

.copyright {
    text-align: right;
    color: #fff;
    font-size: 14px;
}

/* スマートフォン (縦向き) */
@media only screen and (max-width: 480px) and (orientation: portrait) {

.container {
    padding: 0 20px;
}

/* Header */

.header__nav__menu {
    display: none;
    opacity: 0;
    transform: translateX(100%);
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
}

.header__nav {
    display: flex;           /* Flexboxを有効にする */
    justify-content: space-between;   /* 子要素間に均等なスペースを配置 */
    align-items: center;     /* 子要素を垂直方向の中央に配置 */
}

.header__logo {
    flex-grow: 1;            /* ロゴが残りのスペースを全て占めるようにする */
    text-align: center;      /* ロゴを中央に配置 */
    padding-left: 60px;
}


.burger {
    font-size: 32px;
    margin-right: 20px;  /* 右側に20pxの余白を追加 */
}

.show {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: #144766;
    opacity: 0.95; 
    transform: translateX(0);
}

.show li a {
    color: #d3ebfa;
    font-size: 1.5em;
    margin: 1em;
}



/* Hero *//* Hero *//* Hero *//* Hero *//* Hero */
/* Hero *//* Hero *//* Hero *//* Hero *//* Hero */

.hero__img {
    margin-top: 0px;
    background-image:url(/image/hero_mb.jpeg) ;

}


.hero__txtbox {
    display: grid;
        width: 100%;
        padding-bottom: 60px;
        grid-template:
        "head pic"70px
        "txt pic"100px
        "txt2 txt2"100px
        / 2fr 1fr;
}

.ttl {
    grid-area: head;
    font-size: 24px;
    padding-top: 40px;
    font-weight: 700;

}

.ttl__self-introduction {
    font-weight: 600;
    grid-area: txt;
    font-size: 24px;
    line-height: 1rem;
    padding-top: 40px;
}

.ttl__pic {
    grid-area: pic;
    height: 150px;
}

.ttl__self-introduction__txt {
    grid-area: txt2;
    padding-top: 40px;
    font-weight: 600;
    font-size: 14px;
}

/* About *//* About *//* About *//* About *//* About *//* About */
/* About *//* About *//* About *//* About *//* About *//* About */

.headline-top {
    font-size: 32px;

}

.about__txtbox {
    display: block;
} 

.about-content__txt-highlight-sky {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 0px;
    color: #76C5FF;
}

.about-content__txt {
    padding-top: 40px;
}

.about-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.about-list__item {
    color: #144766;
    font-size: 20px;
    font-weight: 500;
    padding-top: 80px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.about-list__item__txt {
    padding-bottom: 0px;
    padding-top: 40px;
    text-align: center;
}

/* Works *//* Works *//* Works *//* Works *//* Works *//* Works */
/* Works *//* Works *//* Works *//* Works *//* Works *//* Works */

.works__txtbox {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px; /* グリッドの要素間のギャップを設定 */
}

.works__item__txt {
    font-weight: 400;
    font-size: 14px;
}

/* Profile *//* Profile *//* Profile *//* Profile *//* Profile */
/* Profile *//* Profile *//* Profile *//* Profile *//* Profile */

.profile__txtbox {
    display: block;
}

.profile__content,
.profile__img {
    width: 100%;
}

.profile__img {
    padding-top: 50px;

}

/* Contact *//* Contact *//* Contact *//* Contact *//* Contact */
/* Contact *//* Contact *//* Contact *//* Contact *//* Contact */

.contact__form {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
}

.input-field {
    display: grid;
    grid-template-columns: 1.5fr 5fr 0.1fr;
    gap: 10px;
    align-items: center;
}

.form-note {
    font-size: 14px;
    text-align: left;
}

.fa-circle-arrow-up {
    font-size: 40px;
}

/* Footer *//* Footer *//* Footer *//* Footer *//* Footer */
/* Footer *//* Footer *//* Footer *//* Footer *//* Footer */

.footer__nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.copyright {
    padding-top: 20px;
    text-align: center;
    color: #fff;
    font-size: 14px;
}

}

/* スマートフォン (横向き) */
@media only screen and (min-width: 481px) and (max-width: 767px) {

/* default style *//* default style *//* default style *//* default style *//* default style */
.container {
    max-width: 700px;
}

/* Hero *//* Hero *//* Hero *//* Hero *//* Hero */
/* Hero *//* Hero *//* Hero *//* Hero *//* Hero */    
.hero__txtbox {
    display: grid;
        width: 100%;
        grid-template:
        "head pic"70px
        "txt pic"100px
        "txt2 txt2"100px
        / 2fr 1fr ;
    
    } 

    .hero {
        color: white;
    }

    .ttl {
        grid-area: head;
        font-size: 32px;
        padding-top: 30px;
    
    }
    .hero__img {
        height: 100lvh;
        padding: 50px 0;
    }

/* About *//* About *//* About *//* About *//* About *//* About */
/* About *//* About *//* About *//* About *//* About *//* About */

.about__txtbox {
    display: block;
} 

.about-content__txt-highlight-sky {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 0px;
    color: #76C5FF;
}

.about-content__txt {
    padding-top: 40px;
}

.about-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.about-list__item {
    color: #144766;
    font-size: 20px;
    font-weight: 500;
    padding-top: 80px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.about-list__item__txt {
    padding-bottom: 0px;
    padding-top: 40px;
    text-align: center;
}

/* Works *//* Works *//* Works *//* Works *//* Works *//* Works */
/* Works *//* Works *//* Works *//* Works *//* Works *//* Works */

/* Profile *//* Profile *//* Profile *//* Profile *//* Profile */
/* Profile *//* Profile *//* Profile *//* Profile *//* Profile */
.profile__txtbox {
    display: block;
}

.profile__content,
.profile__img {
    width: 100%;
}

.profile__img {
    padding-top: 50px;

}

/* Contact *//* Contact *//* Contact *//* Contact *//* Contact */
/* Contact *//* Contact *//* Contact *//* Contact *//* Contact */

/* Footer *//* Footer *//* Footer *//* Footer *//* Footer */
/* Footer *//* Footer *//* Footer *//* Footer *//* Footer */

}

/* タブレット */
@media only screen and (min-width: 768px) and (max-width: 1024px) {

/* default style *//* default style *//* default style *//* default style *//* default style */
.container {
    padding: 0 20px;
}

/* Hero *//* Hero *//* Hero *//* Hero *//* Hero */
/* Hero *//* Hero *//* Hero *//* Hero *//* Hero */    
.hero__txtbox {
    display: grid;
        width: 100%;
        grid-template:
        "head pic"70px
        "txt pic"100px
        "txt2 txt2"100px
        / 2fr 1fr ;
    
    } 

    .hero {
        color: white;
    }

    .ttl {
        grid-area: head;
        font-size: 32px;
        padding-top: 30px;
    
    }
    .hero__img {
        height: 100svh;
    }

/* About *//* About *//* About *//* About *//* About *//* About */
/* About *//* About *//* About *//* About *//* About *//* About */

.about__txtbox {
    display: block;
} 

.about-content__txt-highlight-sky {
    font-weight: 600;
    font-size: 18px;
    padding-bottom: 0px;
    color: #76C5FF;
}

.about-content__txt {
    padding-top: 40px;
}

.about-list {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 100%;
}

.about-list__item {
    color: #144766;
    font-size: 20px;
    font-weight: 500;
    padding-top: 80px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.about-list__item__txt {
    padding-bottom: 0px;
    padding-top: 40px;
    text-align: center ;
}

/* Works *//* Works *//* Works *//* Works *//* Works *//* Works */
/* Works *//* Works *//* Works *//* Works *//* Works *//* Works */

/* Profile *//* Profile *//* Profile *//* Profile *//* Profile */
/* Profile *//* Profile *//* Profile *//* Profile *//* Profile */
.profile__txtbox {
    display: block;
}

.profile__content,
.profile__img {
    width: 100%;
}

.profile__img {
    padding-top: 50px;

}

/* Contact *//* Contact *//* Contact *//* Contact *//* Contact */
/* Contact *//* Contact *//* Contact *//* Contact *//* Contact */

/* Footer *//* Footer *//* Footer *//* Footer *//* Footer */
/* Footer *//* Footer *//* Footer *//* Footer *//* Footer */


}